<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- JS dependencies (order matters!) -->
    <script src="scripts/platformOverrides.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>

    <!-- CSS dependencies -->
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-purple-theme.css" />

    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="lib/angular/angular-csp.css" />
    <script src="cordova.js"></script>
    <script src="scripts/index.js"></script>
	<script type="text/javascript" charset="utf-8">
		function onLoad()
		{
			  document.addEventListener("deviceready", onDeviceReady, true);
			  navigator.splashscreen.show();
		}
		function exitFromApp()
		 {
			navigator.app.exitApp();
		 }
		ons.setDefaultDeviceBackButtonListener(function() {
		  if (navigator.notification.confirm("Are you sure to close the app?",
			function(index) {
			  if (index === 1) { // OK button
				navigator.app.exitApp(); // Close the app
			  }
			}
		  ));
		});
	</script>



    <!-- --------------- App init --------------- -->

    <title>SMK Tarbiyatul Islam Kawunganten</title>

    <script>
        angular.module('app', ['onsen']);
    </script>

    <style>
        .page--menu-page__background {
            background-color: #333;
        }
        
        .center {
			text-align: center;
		}

        .page--menu-page__content {
            color: white;
        }

        .menu-close,
        .menu-close > .toolbar-button {
            color: #999;
        }

        .menu-list,
        .menu-item:first-child,
        .menu-item:last-child,
        .menu-item {
            background-color: transparent;
            background-image: none !important;
            border-color: transparent;
            color: #fff;
        }

        .menu-item {
            padding: 0 0 0 20px;
            line-height: 52px;
            height: 52px;
            text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
        }

            .menu-item:active {
                background-color: rgba(255, 255, 255, 0.1);
            }

        .menu-notification {
            display: inline-block;
            margin-top: 12px;
            font-size: 14px;
            height: 16px;
            line-height: 16px;
            min-width: 16px;
            font-weight: 600;
        }

        .bottom-menu-list,
        .bottom-menu-item:first-child,
        .bottom-menu-item:last-child,
        .bottom-menu-item {
            border-color: #393939;
            background-color: transparent;
            background-image: none !important;
            color: #ccc;
        }

            .bottom-menu-item:active {
                background-color: rgba(255, 255, 255, 0.1);
            }
    </style>

</head>

<body>

  <div ons-loading-placeholder="start.html">
	  <i class="fa fa-spinner fa-spin center memuat"></i> Memuat...
  </div>
  <ons-template id="start.html">

    <div>Selamat datang di aplikasi @smktika!</div>
  </ons-template>

    <ons-sliding-menu menu-page="menu.html" main-page="page1.html" side="left"
                      var="menu" type="reveal" max-slide-distance="260px" swipeable="true">
    </ons-sliding-menu>

    <ons-template id="menu.html">
        <ons-page modifier="menu-page">
            <ons-toolbar modifier="transparent"></ons-toolbar>

            <ons-list class="menu-list">
                <ons-list-item class="menu-item" ng-click="menu.setMainPage('page1.html', {closeMenu: true})">
                    <ons-icon icon="fa-home"></ons-icon>
                    Profil
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('page2.html', {closeMenu: true})">
                    <ons-icon icon="fa-user-md"></ons-icon>
                    PTK
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('page3.html', {closeMenu: true})">
                    <ons-icon icon="fa-group"></ons-icon>
                    Siswa
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('kejuruan.html', {closeMenu: true})">
                    <ons-icon icon="fa-book"></ons-icon>
                    Kejuruan
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('facebook.html', {closeMenu: true})">
                    <ons-icon icon="fa-facebook"></ons-icon>
                    Facebook
                </ons-list-item>

            </ons-list>

            <br>

            <ons-list class="bottom-menu-list">
                <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('pengaturan.html', {closeMenu: true})">
                    <i class="fa fa-gear"></i> Settings
                    <div class="notification menu-notification">3</div>
                </ons-list-item>

                <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('bantuan.html', {closeMenu: true})">
                    <i class="fa fa-question"></i> Bantuan
                </ons-list-item>

                <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('saran.html', {closeMenu: true})">
                    <i class="fa fa-send"></i> Send feedback
                </ons-list-item>

                <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('tentang.html', {closeMenu: true})">
                    <i class="fa fa-info"></i> Tentang
                </ons-list-item>

                <ons-list-item class="bottom-menu-item" ng-click="exitFromApp();">
                    <i class="fa fa-sign-out"></i> Keluar
                </ons-list-item>

            </ons-list>
        </ons-page>
    </ons-template>

    <ons-template id="page1.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="right">
                    <ons-toolbar-button ng-click="menu.setMainPage('end.html', {closeMenu: true})">
                        <ons-icon icon="ion-arrow-right-a" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Profil</div>
            </ons-toolbar>

            <ons-row style="margin-top: 5%; text-align: center;">
                <ons-col>
					<img src="icon.png"><br>
                    <p>SMK Tarbiyatul Islam Kawunganten adalah sebuah sekolah kejuruan di Desa Kawunganten Lor, Kecamatan Kawunganten, Cilacap yang telah berdiri sejak 2007.</p>
                    <p>Kini SMKTIKA telah membuka 3 kejuruan, antara lain Teknik Komputer dan Jaringan, Administrasi Perkantoran, dan Akuntansi.</p>
                </ons-col>
            </ons-row>
        </ons-page>
    </ons-template>

    <ons-template id="page2.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">PTK</div>
            </ons-toolbar>


            <ons-row style="text-align: center;">
                <ons-col>
                    <h2>Pendidik dan Tenaga Kependidikan</h2>

					<ons-carousel style="margin-top: 30%;" fullscreen swipeable overscrollable auto-scroll>
					  <ons-carousel-item style="text-align: center;">
                        <ons-row>
							<ons-col><p><img src="img/sam.jpg" width="100px" height="100px"></p></ons-col>
							<ons-col><p style="text-align: left;">Nama : Samsul Maarif<br>Mapel : Produktif TKJ<br>Pendidikan : Ora lulus</p>
							<p style="text-align: left;">Mulai mengajar sejak Oktober 2014, sampe sekarang masih serind datang terlambat.</p></ons-col>
                        </ons-row>
					  </ons-carousel-item>
					  <ons-carousel-item>
                        <ons-row>
							<ons-col><p><img src="img/toni.jpg" width="100px" height="100px"></p></ons-col>
							<ons-col><p style="text-align: left;">Nama : Toni Diana, S.Kom.<br>Mapel : KKPI<br>Pendidikan : S1</p>
							<p style="text-align: left;">Sebagai Wakil Kepala sekolah.</p></ons-col>
                        </ons-row>
					  </ons-carousel-item>
					</ons-carousel>
                    
                </ons-col>
            </ons-row>

        </ons-page>
    </ons-template>

    <ons-template id="page3.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Page 3</div>
            </ons-toolbar>


            <ons-row style="margin-top: 100px; text-align: center;">
                <ons-col>
                    <ons-button modifier="light" ng-click="menu.toggleMenu()">
                        Toggle Menu
                    </ons-button>
                </ons-col>
            </ons-row>

        </ons-page>
    </ons-template>

    <ons-template id="end.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">End</div>
            </ons-toolbar>


            <ons-row style="margin-top: 10%; text-align: center;">
                <ons-col>
                    <ons-button modifier="light" ng-click="menu.setMainPage('low-end.html', {closeMenu: true})">
                        Low End
                    </ons-button>
                </ons-col>
            </ons-row>

        </ons-page>
    </ons-template>

    <ons-template id="low-end.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.setMainPage('end.html', {closeMenu: true })">
                        <ons-icon icon="ion-arrow-left-c" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Low End</div>
            </ons-toolbar>


            <ons-row style="margin-top: 10%; text-align: center;">
                <ons-col>
                    <ons-button modifier="light" ng-click="menu.setMainPage('end.html', {closeMenu: true })">
                        Kembali
                    </ons-button>
                </ons-col>
            </ons-row>

        </ons-page>
    </ons-template>

    <ons-template id="kejuruan.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.setMainPage('page1.html', {closeMenu: true })">
                        <ons-icon icon="ion-arrow-left-c" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Kejuruan</div>
            </ons-toolbar>

				<h3 class="center">Kejuruan</h3>

            <ons-col style="margin-top: 10%; text-align: center;">
                <ons-row>
                    <ons-button modifier="large" ng-click="menu.setMainPage('tkj.html', {closeMenu: true })">
						<ons-ripple></ons-ripple>
                        Teknik Komputer dan Jaringan
                    </ons-button>
                </ons-row>
                <ons-row>
                    <ons-button modifier="large" ng-click="menu.setMainPage('ak.html', {closeMenu: true })">
                        Akuntansi
                    </ons-button>
                </ons-row>                
                <ons-row>
                    <ons-button modifier="large" ng-click="menu.setMainPage('ap.html', {closeMenu: true })">
                        Administrasi Perkantoran
                    </ons-button>
                </ons-row>
            </ons-col>


        </ons-page>
    </ons-template>

    <ons-template id="tkj.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.setMainPage('kejuruan.html', {closeMenu: true })">
                        <ons-icon icon="ion-arrow-left-c" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">TKJ</div>
            </ons-toolbar>

            <h3 class="center">Teknik Komputer dan Jaringan</h3>

        </ons-page>
    </ons-template>

    <ons-template id="ak.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.setMainPage('kejuruan.html', {closeMenu: true })">
                        <ons-icon icon="ion-arrow-left-c" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">AK</div>
            </ons-toolbar>

            <h3 class="center">Akuntansi</h3>

        </ons-page>
    </ons-template>

    <ons-template id="ap.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.setMainPage('kejuruan.html', {closeMenu: true })">
                        <ons-icon icon="ion-arrow-left-c" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">AP</div>
            </ons-toolbar>

            <h3 class="center">Administrasi Perkantoran</h3>

        </ons-page>
    </ons-template>

    <ons-template id="facebook.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.setMainPage('end.html', {closeMenu: true })">
                        <ons-icon icon="ion-arrow-left-c" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Facebook</div>
            </ons-toolbar>


					<iframe src="https://www.facebook.com/smktika" width="100%" height="100%">
					  <p>Maaf, peramban Anda tidak mendukung iframes <a href="https://www.facebook.com/smktika" target="_blank">Facebook</a>.</p>
					</iframe>

        </ons-page>
    </ons-template>

    <ons-template id="tentang.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.setMainPage('page1.html', {closeMenu: true})">
                        <ons-icon icon="ion-arrow-left-c" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Tentang</div>
            </ons-toolbar>

              <h3 class="center">Tentang Pengembang</h3>
            <ons-row style="margin-top: 5%; text-align: center;">
                <ons-col>
					
                    <p>Aplikasi profil SMK Tarbiyatul Islam Kawunganten.</p>
                    <p>redaksinya belum sempet nulis.</p>
                </ons-col>
            </ons-row>
        </ons-page>
    </ons-template>

    <ons-template id="bantuan.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.setMainPage('page1.html', {closeMenu: true})">
                        <ons-icon icon="ion-arrow-left-c" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Bantuan</div>
            </ons-toolbar>

              <h3 class="center">Panduan Penggunaan</h3>
            <ons-row style="margin-top: 5%; text-align: center;">
                <ons-col>
					
                    <p>Cara menggunakan aplikasi ini ya begini.</p>
                    <p>redaksinya belum sempet nulis.</p>
                </ons-col>
            </ons-row>
        </ons-page>
    </ons-template>

    <ons-template id="pengaturan.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.setMainPage('page1.html', {closeMenu: true})">
                        <ons-icon icon="ion-arrow-left-c" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Pengaturan</div>
            </ons-toolbar>

              <h3 class="center">Pengaturan Aplikasi</h3>
            <ons-row style="margin-top: 5%; text-align: center;">
                <ons-col>
					
                    <p>Pengaturannya begitu.</p>
                    <p>redaksinya belum sempet nulis.</p>
                </ons-col>
            </ons-row>
        </ons-page>
    </ons-template>

    <ons-template id="saran.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.setMainPage('page1.html', {closeMenu: true})">
                        <ons-icon icon="ion-arrow-left-c" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Saran</div>
            </ons-toolbar>

              <h3 class="center">Ajukan saran ke pengembang</h3>
            <ons-row style="margin-top: 5%; text-align: center;">
                <ons-col>
					
                    <p>Gunakan sebuah formulir untuk mengirimkan saran.</p>
                    <p>redaksinya belum sempet nulis.</p>
                </ons-col>
            </ons-row>
        </ons-page>
    </ons-template>

</body>
</html>
